name: Compile-And-Build

run-name: trigger-${{ inputs.name }}

on: 
  repository_dispatch:
    types:
      - trigger-compile
  workflow_dispatch:
    inputs:
      name:
        description: "workflow name"
        type: string
      s3_context_path:
        description: "s3 context path"
        type: string
      image_name:
        description: "target image name"
        type: string
      image_with_tag:
        description: "target image name with tag"
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    name: trigger-${{ inputs.name }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: auto

    steps:
      - name: Sync Docker Context
        run: |
          # copy inputs.s3_context_path from cloudflare bucket to /tmp/context.tar
          aws s3 cp s3://${{ inputs.s3_context_path }} /tmp/context.tar \
          --endpoint-url ${{ secrets.R2_ENDPOINT }}
          
      - name: login to aks container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.AKS_REGISTRY_SERVER }}
          username: ${{ secrets.AKS_REGISTRY_USERNAME }}
          password: ${{ secrets.AKS_REGISTRY_PASSWORD }}
      
      - name: Compile Plugin
        run: |
          docker build -t dify-plugin - < /tmp/context.tar
          docker tag dify-plugin ${{ inputs.image_with_tag }}
          docker push ${{ inputs.image_with_tag }}

